name: SP2025P
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.7
  - numpy
  - scipy
  - scikit-learn
  - pandas
  - matplotlib
  - pytest
  - pip
  - pip:
    - tensorflow==1.15.2  # original author recommended for tensorflow implementation
    - matplotlib==3.1.2
    - torch==1.13.1
    - torchvision==0.14.1
    - torchaudio==0.13.1